<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>[[${pageTitle}]]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>

<h1>[[${pageTitle}]]</h1>

<a th:href="@{/users/new}">Create User</a>

<div th:if="${message}">
	<div>[[${message}]]</div>
</div>

<!-- Search -->
<form th:action="@{/users/page/1}">
	<input type="hidden" name="sortField" th:value="${sortField}" />
	<input type="hidden" name="sortDir" th:value="${sortDir}" />
	<input type="search" name="keyword" th:value="${keyword}" required />
	
	<input type="submit" value="Search" />
</form>

<table>
	<thead>
		<tr>
			<th th:replace="fragments :: column_link('id', 'ID')"></th>
			<th th:replace="fragments :: column_link('email', 'E-mail')"></th>
			<th th:replace="fragments :: column_link('firstName', 'First Name')"></th>
			<th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
			<th>Roles</th>
			<th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="user : ${listUsers}">
			<td>[[${user.id}]]</td>
			<td>[[${user.email}]]</td>
			<td>[[${user.firstName}]]</td>
			<td>[[${user.lastName}]]</td>
			<td>[[${user.Roles}]]</td>
			<td>[[${user.Enabled}]]</td>
			<td>
				<a th:href="@{'/users/edit/' + ${user.id}}">Edit User</a>
				<a th:href="@{'/users/delete/' + ${user.id}}">Delete User</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- Pagination -->
<div>
	<span th:unless="${totalItems > 0}">No users found</span>
	
	<ul th:if="${totalPages > 0}">
		<li th:if="${currentPage > 1}">
			<a th:href="@{'/users/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		</li>
		
		<li th:if="${currentPage > 1}">
			<a th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		</li>
		
		<li th:each="i : ${#numbers.sequence(1, totalPages)}">
			<a th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
		</li>
		
		<li th:if="${currentPage < totalPages}">
			<a th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		</li>
		
		<li th:if="${currentPage < totalPages}">
			<a th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		</li>
	</ul>
</div>

</body>
</html>