<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})"></head>
<body>

<h1>[[${pageTitle}]]</h1>

<a th:href="@{/users/new}">Create User</a>

<div th:if="${message}">
	<div>[[${message}]]</div>
</div>

<!-- Search -->
<div th:replace="fragments :: search_form"></div>

<table>
	<thead>
		<tr>
			<th th:replace="fragments :: column_link('id', 'ID')"></th>
			<th th:replace="fragments :: column_link('email', 'E-mail')"></th>
			<th th:replace="fragments :: column_link('firstName', 'First Name')"></th>
			<th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
			<th>Roles</th>
			<th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="user : ${listUsers}">
			<td>[[${user.id}]]</td>
			<td>[[${user.email}]]</td>
			<td>[[${user.firstName}]]</td>
			<td>[[${user.lastName}]]</td>
			<td>[[${user.Roles}]]</td>
			<td>[[${user.Enabled}]]</td>
			<td>
				<a th:href="@{'/users/edit/' + ${user.id}}">Edit User</a>
				<a th:href="@{'/users/delete/' + ${user.id}}">Delete User</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- Pagination -->
<div th:replace="fragments :: pagination"></div>

</body>
</html>