<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
	<meta charset="ISO-8859-1">
	<title>[[${title}]]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>

<!-- Sort -->
<th th:fragment="column_link(fieldName, columnLabel)">
	<a th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		[[${columnLabel}]]
		<span th:if="${sortField == fieldName}"
			  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</a>
</th>

</body>
</html>